& {
    .item {
        padding: 10px 15px 10px 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #767676;
        cursor: pointer;
        &.active {
            padding-left: 12px;
            color: #563d7c;
            border-left: 3px solid #7266ba;
            background-color: #f8f9fb;
        }
        &:hover:not(.active) {
            padding-left: 15px;
            background-color: #f8f9fb;
        }
    }
}
